:root {
  --clr-blue: hsl(227, 92%, 58%, 100%);
  --clr-gunmetal: hsl(215, 31%, 21%, 100%);
  --clr-dark-electric-blue: hsl(215, 17%, 45%, 100%);
  --clr-light-grey: hsl(215, 17%, 45%, 50%);
  --clr-white: hsl(0, 0%, 100%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input[type="text"] {
  width: 100%;
  padding-block: 14px;
  padding-inline: 24px;
  border-radius: 12px;
  border: 1px solid var(--clr-dark-electric-blue);
  margin-block: 8px;
  font-size: 20px;
  font-weight: 600;
}

input[type="number"] {
  width: 100%;
  padding-block: 14px;
  padding-inline: 24px;
  border-radius: 12px;
  border: 1px solid var(--clr-dark-electric-blue);
  margin-block: 8px;
  font-size: 20px;
  font-weight: 600;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  min-width: 30px;
  min-height: 30px;
  aspect-ratio: 1;
  border: 1px solid hsl(190, 23%, 53%, 100%);
  border-radius: 50%;
}

input[type="radio"]:checked {
  min-width: 15px;
  min-height: 15px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: var(--clr-blue);
  border: none;
  outline: 9px solid hsl(227, 92%, 58%, 15%);
}

input[type="radio"]:hover {
  border: 1px solid var(--clr-blue);
  cursor: pointer;
}

label {
  font-size: 14px;
  color: var(--clr-gunmetal);
}

fieldset {
  border: none;
  outline: none;
}

.hidden {
  display: none !important;
}

.img--app-logo {
  margin: 0 auto;
  padding-top: 24px;
  width: 40px;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 640px;
  background-image: linear-gradient(
    135deg,
    hsl(184, 95%, 92%, 0%),
    hsl(216, 95%, 92%, 100%)
  );
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.header--container {
  position: relative;
  padding-inline: 24px;
}

.header--content {
  padding-block: 24px;
}

.header--content__heading {
  font-weight: 600;
  font-size: 48px;
  color: var(--clr-gunmetal);
  letter-spacing: -3px;
  text-align: center;
  padding-bottom: 24px;
}

.header--content__text {
  color: var(--clr-dark-electric-blue);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.header--bmi-calc-container {
  padding: 24px;
  background-color: var(--clr-white);
  margin-top: 48px;
  padding: 24px;
  border-radius: 16px;

  -webkit-box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
  -moz-box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
  box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
}

.bmi__header {
  font-size: 20px;
  color: var(--clr-gunmetal);
  letter-spacing: -1px;
}

.bmi__unit-select-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
  padding-block: 24px;
}

.bmi__radio-btn--metric,
.bmi__radio-btn--imperial {
  display: flex;
  align-items: center;
}

.bmi__default-message--header {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

.bmi__default-message--text {
  font-size: 14px;
}

.radio-label-style {
  font-size: 16px;
  font-weight: 600;
  margin-left: 18px;
}

.input-for-metric-height {
  position: relative;
}

.input-for-metric-height:after {
  content: "cm";
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--clr-blue);
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.input-for-metric-weight {
  position: relative;
}

.input-for-metric-weight:after {
  content: "kg";
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--clr-blue);
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.input-for-imperial-height-ft {
  position: relative;
}

.input-for-imperial-height-ft:after {
  content: "ft";
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--clr-blue);
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.bmi__results-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 32px;
  border-radius: 16px;
  margin-top: 16px;
}

.input-for-imperial-height-in {
  position: relative;
}

.input-for-imperial-height-in:after {
  content: "in";
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--clr-blue);
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.input-for-imperial-weight {
  position: relative;
}

.input-for-imperial-weight:after {
  content: "lbs";
  position: absolute;
  top: -10px;
  right: 0;
  color: var(--clr-blue);
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.results-calculated {
  display: grid;
  grid-template-columns: 1fr;
}

.bmi__results-container {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 32px;
  border-radius: 16px;
  margin-top: 16px;
}

.bmi__results-container--results-header {
  font-size: 16px;
  font-weight: 600;
}

.bmi__results-container--results-score {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 600;
}

.bmi__results-container--results-text {
  font-size: 14px;
  font-weight: 400;
}

.bmi__results-container--suggested-weight {
  font-weight: 600;
}

.img--bmi-result {
  margin-bottom: 16px;
}

.bmi-results-section--container {
  padding-block: 70px;
}

.bmi-results-section--content {
  padding-inline: 24px;
}

.bmi-results-section--content__header {
  font-size: 32px;
  font-weight: 600;
  color: var(--clr-gunmetal);
  padding-block: 2.16px;
  letter-spacing: -2px;
}

.bmi-results-section--content__text {
  font-size: 16px;
  color: var(--clr-dark-electric-blue);
}

.protocols--container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-inline: 24px;
  padding-block: 56px;
  background-image: linear-gradient(
    to right,
    hsl(184, 95%, 92%, 0%),
    hsl(216, 95%, 92%, 25%)
  );
}

.img--results-icon {
  min-width: 64px;
  aspect-ratio: 1;
}

.protocols--card__header {
  font-size: 20px;
  color: var(--clr-gunmetal);
  margin-top: 32px;
  margin-bottom: 24px;
}

.protocols--card__text {
  font-size: 16px;
  color: var(--clr-dark-electric-blue);
}

.limitations--container {
  padding-inline: 24px;
  padding-block: 72px;
}

.limitations--heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--clr-gunmetal);
  padding-bottom: 2.16px;
  letter-spacing: -2px;
  text-align: center;
}

.limitations--text {
  font-size: 16px;
  color: var(--clr-dark-electric-blue);
  text-align: center;
  margin-bottom: 40px;
}

.edgecase--card {
  padding: 24px;
  margin-block: 16px;
  border-radius: 16px;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
  -moz-box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
  box-shadow: 16px 32px 56px 0px rgba(106, 140, 176, 0.25);
  background-color: var(--clr-white);
}

.edgecase--card__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: -1px;
}

.edgecase--card__header-text {
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
  color: var(--clr-gunmetal);
}

.edgecase--card__text {
  font-size: 16px;
  color: var(--clr-dark-electric-blue);
}

@media (min-width: 615px) {
  .img--app-logo {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .header--container {
    position: relative;
    padding-inline: 40px;
  }

  .header-bg {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(
      135deg,
      hsl(184, 95%, 92%, 0%),
      hsl(216, 95%, 92%, 100%)
    );
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .header--content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
    gap: 8px;
  }

  .header--content__heading {
    grid-column: 4 / 10;
  }

  .header--content__text {
    grid-row: 2;
    grid-column: span 12;
  }

  .header--bmi-calc-container {
    padding: 32px;
    max-width: 640px;
    margin: 0 auto;
  }

  .bmi__unit-select-container {
    padding-block: 32px;
  }

  .bmi__input-container--metric,
  .bmi__input-container--imperial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .input-for-metric-height {
    position: relative;
  }

  .results-calculated {
    grid-template-columns: 1fr 1fr;
  }

  .bmi__results-container {
    display: grid;
    align-items: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .bmi__results-container--results-score {
    margin: 0;
    align-self: end;
  }

  .bmi-results-section--container {
    padding-inline: 40px;
    padding-block: 130px;
  }

  .img--bmi-result {
    position: relative;
    right: 65px;
    top: 55px;
  }

  .bmi-results-section--content {
    padding-inline: 0;
  }

  .protocols--container {
    padding-inline: 40px;
    padding-block: 60px;
  }

  .protocols--card {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .protocols--card__header {
    margin: 0;
    margin-bottom: 24px;
  }

  .limitations--container {
    padding-block: 96px;
    padding-inline: 40px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .limitations--text {
    margin-bottom: 56px;
  }

  .limitations--container :nth-child(1) {
    grid-column: span 12;
  }
  .limitations--container :nth-child(2) {
    grid-column: 1 / span 6;
    margin-right: 8px;
  }
  .limitations--container :nth-child(3) {
    grid-column: span 6;
    margin-left: 8px;
  }
  .limitations--container :nth-child(4) {
    grid-column: 1 / span 6;
    margin-right: 8px;
  }
  .limitations--container :nth-child(5) {
    grid-column: span 6;
    margin-left: 8px;
  }
  .limitations--container :nth-child(6) {
    grid-column: 4 / span 6;
  }
}

@media (min-width: 895px) {
  .header--container,
  .bmi-results-section--container,
  .protocols--container,
  .limitations--container {
    padding-inline: 96px;
  }
  .bmi-results-section--container {
    padding-block: 130px;
    display: flex;
  }

  .img--bmi-result {
    position: relative;
    right: 65px;
    width: 60%;
  }
}

@media (min-width: 1200px) {
  #app-header {
    padding-inline: 140px;
    position: relative;
  }

  .img--app-logo {
    width: 64px;
    padding-top: 75px;
    padding-bottom: 28px;
    margin: 0;
  }

  .header--container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .header-bg {
    position: absolute;
    width: 65vw;
    height: 737px;
    left: 24px;
    background-image: linear-gradient(
      135deg,
      hsl(184, 95%, 92%, 0%),
      hsl(216, 95%, 92%, 100%)
    );
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .header--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 130px;
  }

  .header--content__heading {
    font-size: 64px;
  }

  .header--content__heading,
  .header--content__text {
    text-align: left;
  }

  .bmi-results-section--container {
    padding-inline: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 131px;
  }

  .img--bmi-result {
    top: 0;
    right: 0;
    margin: 0;
  }

  .bmi-results-section--content {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .bmi-results-section--content__header {
    font-size: 48px;
    top: 200%;
  }

  .bmi-results-section--content__text {
    padding-bottom: 40px;
  }

  .protocols--container {
    padding-inline: 140px;
    padding-block: 96px;
    flex-direction: row;
  }

  .protocols--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .limitations--container {
    padding-inline: 140px;
    gap: 32px;
  }

  .limitations--header {
    position: relative;
  }

  .limitations--header:before {
    content: "";
    position: absolute;
    background-image: url(./assets/images/pattern-curved-line-right.svg);
    background-repeat: none;
    width: 95px;
    height: 122px;
    bottom: -130px;
    left: 28%;
  }

  .limitations--heading,
  .limitations--text {
    text-align: left;
  }

  .limitations--heading {
    font-size: 48px;
  }

  .edgecase--card {
    margin-block: 0;
  }

  .limitations--container :nth-child(1) {
    grid-column: 1 / span 6;
  }

  .limitations--container :nth-child(2) {
    grid-column: 8 / span 4;
  }

  .limitations--container :nth-child(3) {
    grid-column: 5 / span 4;
  }

  .limitations--container :nth-child(4) {
    grid-column: 9 / span 4;
  }

  .limitations--container :nth-child(5) {
    grid-column: 3 / span 4;
  }

  .limitations--container :nth-child(6) {
    grid-column: 7 / span 4;
  }
}

@media (min-width: 1390px) {
  .header--container:after {
    content: "";
    position: absolute;
    background-image: url(./assets/images/pattern-curved-line-left.svg);
    background-repeat: none;
    width: 86px;
    height: 200px;
    bottom: -250px;
    right: 25px;
  }
}

@media (min-width: 1625px) {
  .bmi-results-section--content {
    padding-left: 140px;
  }

  .header--container:after {
    right: 100px;
  }
}
